In [3]:
# HW 1: How do you handle duplicate values in a dataset in Python?

import numpy as np
import pandas as pd
import scipy

%matplotlib inline
import matplotlib.pyplot as plt

# if in a numpy array
import numpy as np
a = np.array([1,2,3,3,4,5])
print a

[1 2 3 3 4 5]

In [4]:
a_dedupe = np.unique(a)
print a_dedupe

[1 2 3 4 5]

In [5]:

# if a dataframe
b = pd.DataFrame([[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,6]])
#b = np.array([[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,6]])


# after checking on documentation, we know that...
b_dedupe = b.drop_duplicates()
b_dedupe

# what about remove duplicate columns?

   0  1  2  3  4
0  1  2  3  4  5
2  1  2  3  4  6

In [6]:
print b

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  6

In [7]:
b_dedupe.shape

(2, 5)

In [10]:
b_uniq

   0  1  2  3  4
0  1  2  3  4  5
2  1  2  3  4  6

In [19]:
#HW2-You are given two tables - friend_request and request_accepted. 
#Friend_request contains requester_id, time and sent_to_id and request_accepted table contains time, 
#acceptor_id and requestor_id. How will you determine the overall acceptance rate of requests? 


import pandas as pd

friend_request = pd.DataFrame(
    {"requester_id":[1001,1002,1003,1004],
     "time":["2017-07-01","2017-07-02","2017-07-03","2017-07-11"],
     "receiver_id":[3001,3002,3003, 3004]}
)

request_accepted = pd.DataFrame(
    {"requester_id":[1001,1003],
     "time":["2017-07-01","2017-07-04"],
     "acceptor_id":[3001,3003]}
)

print(friend_request)
print(request_accepted)

# sql
#select
#sum(if(t2.acceptor_id is null, 0, 1))/sum(1) as acceptance_rate,
#avg(time_diff(t2.time, t1.time)) as time_diff
#from friend_request t1
#left join request_accepted t2
#on t1.requester_id=t2.requeter_id
#and T1.receiver_id=T2.acceptor_id;

   receiver_id  requester_id        time
0         3001          1001  2017-07-01
1         3002          1002  2017-07-02
2         3003          1003  2017-07-03
3         3004          1004  2017-07-11
   acceptor_id  requester_id        time
0         3001          1001  2017-07-01
1         3003          1003  2017-07-04

In [20]:
a = pd.merge(friend_request,request_accepted,how="left",left_on=["requester_id", "receiver_id"], \
             right_on=["requester_id", "acceptor_id"])
len(a["acceptor_id"][a.acceptor_id > 0])/(len(a["acceptor_id"])*1.0)

0.5

In [26]:
#HW 3- “Issuer” of a credit card are companies like Visa, Mastercard, American Express. Now we know the following rules:

# CC number starts with: '4'
# CC len : 16
# Issuer: VISA

# CC number starts with: '34', '37'
# CC len : 15
# Issuer : AMEX

# CC number starts with: '36'
# CC len : 14
# Issuer : Diners Club

# Credit card number starts with
# '4026', '417500', '4405', '4508', '4844',
# '4913', '4917'
# CC len : 16
# Issuer : VISAELECTRON

#Now write Python scripts to identify the issuer of the following credit card numbers:

#'4175004175004172' 
#'4917491749174917'
#'346416800707698'
#'376416800707698'
#'37641680070769832112'
#'36641680070769'
#'54545641680070769’ 

CreditCards = ['4175004175004172',
'4917491749174917',
'346416800707698' ,
'376416800707698',
'37641680070769832112',
'36641680070769',
'54545641680070769' ]

for card in CreditCards:
    print (card)

4175004175004172
4917491749174917
346416800707698
376416800707698
37641680070769832112
36641680070769
54545641680070769

In [71]:

for card in CreditCards:
    #print 'length: '
    #print (len(card))

    if card[0] == '4' and len(card) ==16:
        print (card) 
        print "is VISA"

4175004175004172
is VISA
4917491749174917
is VISA